{% extends 'blog/base.html' %}
{% block title_block %}Delete{% endblock %}
{% block body_block %}
    <form method="post">
    {% csrf_token %}
        <p>Are you sure you want to delete "<i>{{ post.title }}</i>"</p>
    <input type="submit" class="btn btn-danger" value="Confirm">
    </form>
    <form method="get" action="{% url 'post_detail' pk=post.pk %}">
        {% csrf_token %}
        <input type="submit" class="btn btn-default" value="Cancel" style="float: left">
    </form>
{% endblock %}